.git
node_modules
vendor
.env
.env.backup
.env.production
database/*.sqlite
database/*.sqlite-journal
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/data/*
.DS_Store
.phpunit.cache
.idea
.vscode
.zed
.fleet
.claude
tests
